body {
    font-family: Arial;
    text-align: center;
    background-color: #f2f2f2;
}

h1, h2 {
    color: #2c3e50;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
}